

/* 공통 부문 */
#container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  /* font-family: 'Merienda', cursive; */
  font-family: 'WagleWagle';
  /* font-family: 'NeoDunggeunmo'; */
}
body{
  background-color: white;
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}


#container header .icon-container{
  width: 30px;
  height: 17px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 햄버거 아이콘 만들기 */
.icon { /* 가운데 막대 생성 */
  margin-top: 7px;
  width: 24px;
  height: 3px;
  background-color: #333;
  position: relative;
}
.icon::before,
.icon::after {/* 앞쪽, 끝쪽 막대 생성 */
  content: ' ';
  width: 24px;
  height: 3px;
  background-color: #333;
  position: absolute;
  justify-content: space-around;
}

.icon::before { /* 가운데 막대 기준으로 위로 8px만큼*/
  top: -6px;
}

.icon::after {/* 가운데 막대 기준으로 아래로 8px만큼 */
  top: 6px;
}

/* 햄버거에 마우스 될 때 서브 메뉴 표시 */
.icon:hover{
  cursor: pointer;
}

/* 헤더 영역 */
/* 이미지 로고 영역 */
header .logo{
  margin-top: 30px;
  width: 150px;
  height: 150px;
}
header .logo img{
  width: 62%;
  height: 62%;
  border-radius: 50%;
}


/* 헤더영역 */
/* 상단 메뉴바 영역 */

header .top-menu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

header .top-menu .menu-list {
  display: flex;
}

header .top-menu .menu-list li {
  margin: 0 15px;
  position: relative;
}
header .top-menu .menu-list li::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 0;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  
}

header .top-menu .menu-list li:hover::after {
  width: 100%;
  background-color: black;
  animation: width 0.6s ease-in-out 1; /*width크기 */
}
header .top-menu .menu-list li a {
  font-size: 22px;
  color: black;
  font-weight: 600;
}

header .top-menu .menu-list ul {
  display: none;
}


header .top-menu .menu-list li:hover a {
  color: black;
  opacity: .4;
  font-weight: 700;
}


 /* 본문 메뉴바 영역 */

 header .menubar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  transition: left 1s; /* 이동 애니메이션 지정 */
  background-color: rgba(255, 255, 255, 0.9); /* 투명도 추가 */
}

header .menubar #menu-container ul {
  opacity: 0;
  padding: 0;
  margin: 0;
}
header .menubar #menu-container ul li > ul{
  font-size: 0.5rem;
}
header .menubar #menu-container ul img{
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

header .menubar li {
  margin-top: 20px;
}

header .menubar li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 24px;
}

header .menubar #menu-container ul li > ul li > a{
  font-size: 18px;
  font-weight: none;
}

header .icon .menubar #menu-container{
  width: 500px;
}


@keyframes width{
  0%{
    width: 20%;
  }
 
  100%{
    width: 100%;
  }
}